.run-list .collection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #e0e0e0 !important;
}

.run-list {
  height: 50vh;
  overflow: scroll;
}

.run-list .collection-item .btn {
  margin-left: 10px;
}
