.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
}

.AppContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alignment {
  width: 350px;
  height: 200px;
}

.alignment + .alignment {
  margin-left: 10px;
}
