.Raxml {
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  /* min-width: 400px; */
  height: 100vh;
  border-left: 1px solid #999;
  background: black;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.Console {
  margin-top: 10px;
  color: #fff;
  background: black;
  flex-grow: 1;
  /* border: 1px solid #999; */
  padding: 0 4px;
}

.button {
  margin-right: 10px;
}

.stdoutContainer {
  overflow-y: auto;
  height: 200px;
}

.code {
  color: white;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 10px;
  height: 100%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
