.basic-section {
 position:relative;
 padding-top:2.5rem;
 padding-bottom:0;
 background-color:#edeef0;
}

.basic-container {
 position:relative;
 max-width:1248px;
 margin-right:auto;
 margin-left:auto;
 padding:2rem 2.625rem 2.5rem;
 padding-right:.75rem;
 padding-left:.75rem;
 text-align:center;
 padding-bottom:0;
 overflow:hidden;
}

.basic-title {
 position:relative;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 margin-top:2rem;
 margin-bottom:2rem;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -webkit-flex-direction:column;
 -ms-flex-direction:column;
 flex-direction:column;
 -webkit-box-pack:start;
 -webkit-justify-content:flex-start;
 -ms-flex-pack:start;
 justify-content:flex-start;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 text-align:center;
}

.basic-info {
 font-size:1rem;
 line-height:1.35em;
 font-weight:500;
 letter-spacing:-.01875rem;
}

.basic-screenshot-container {
 position:relative;
 height:41rem;
 max-height:100%;
 max-width:100%;
}

.basic-screenshot {
 left:0;
 top:0;
 overflow:hidden;
 border:.25rem solid #eee;
 border-radius:1.3rem;
 background-color:#eee;
 -o-object-fit:contain;
 object-fit:contain;
 vertical-align: middle;
 display: inline-block;
 max-width: 100%;
 position: absolute;
 z-index: 1;
 border-color: #eee;
 opacity: 0;
}

.basic-screenshot.active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.features-section {
 position:relative;
 padding-top:2.5rem;
 padding-bottom:0;
 background-color:#141415;
}

.features-container {
 position:relative;
 max-width:1248px;
 margin-right:auto;
 margin-left:auto;
 padding:2rem 2.625rem 2.5rem;
 padding-right:.75rem;
 padding-left:.75rem;
 text-align:center;
}

.features-title {
 position:relative;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 margin-top:2rem;
 margin-bottom:2rem;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -webkit-flex-direction:column;
 -ms-flex-direction:column;
 flex-direction:column;
 -webkit-box-pack:start;
 -webkit-justify-content:flex-start;
 -ms-flex-pack:start;
 justify-content:flex-start;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 text-align:center;
 color:#fafafa;
}

.features-info {
 font-size:1rem;
 line-height:1.35em;
 font-weight:500;
 letter-spacing:-.01875rem;
 color:#707070;
}

.feature-grid {
 display:-ms-grid;
 display:grid;
 grid-column-gap:1rem;
 grid-row-gap:1rem;
 grid-template-areas:".";
 margin-bottom:2rem;
}

@media (min-width: 600px) {
  .feature-grid { grid-template-columns: repeat(2, 1fr); }
}

.feature {
 z-index:1;
 height:34.4375rem;
 width:100%;
 padding:1rem;
 text-align:left;
 float:none;
}

.feature-image img {
 height:auto;
 max-width:100%;
 vertical-align:top;
}

.feature-figure {
 display:inline-block;
 vertical-align:top;
 margin:0;
 max-width:100%;
}

.feature-header {
 font-size:1.5rem;
 line-height:1.3em;
 font-weight:500;
 letter-spacing:-.0375rem;
 margin-bottom:.6875rem;
 color:#fafafa;
}

.feature-info {
 font-size:1rem;
 line-height:1.35em;
 font-weight:500;
 letter-spacing:-.01875rem;
 margin-bottom:2rem;
 opacity:1;
 color:#707070;
}
